.header
{
    background-color: #68c93e;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.logo
{
    position: relative;
}

.logo img
{
    width: 30px;
}

.troley
{
    position: relative;
}

.troley img
{
    width: 30px;
}

.count
{
    background-color: #2d3c8d;
    padding: 10px;
    border-radius: 50px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: -8px;
    left: -14px;
}

.card
{
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 320px;
    border-radius: 4px;
    margin-left: 30px;
}

.img-thumb-prod
{
    width: 100%;
}

.img-thumb-prod img
{
    width: 100%;
}

.counter
{
    margin-left: 20px;
}

button.minus, button.plus
{
    background-color: #2d3c8d;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
}

.counter input[type="text"]
{
    border: 1px solid #dedede;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
}